<a href="https://colab.research.google.com/github/meriel-2502/basic-python-for-Machine-Learning/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=20
sum=a+b
print("The sum is :",sum)

The sum is : 30

In [ ]:
a=int(input("Enter the first number:")) #input fnctn reads valuse as string.int() cast it to integer

Enter the first number:5

In [ ]:
b=int(input("Enter the 2nd number:"))

Enter the 2nd number:78

In [ ]:
sum=a+b
print(sum)

83

In [1]:
a = 5
print(a, "is of type", type(a))
a = 2.0
print(a, "is of type", type(a))
a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

In [2]:
a = [5,10,15,20,25,30,35,40] #list(slicing)
print("a[2] = ", a[2])
print("a[0:3] = ", a[0:3])
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

In [3]:
d = {1:'value','key':2}#dictionary
print(type(d))

print("d[1] = ", d[1]);

print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [4]:
print("d[2] = ", d[2]);#generates error

KeyError: ignored

In [8]:
for i in range(1,11):# continue keyword
 if i == 5:#intendation imp
  continue
 print(i)

1
2
3
4
6
7
8
9
10

In [9]:
for i in range(1,11):# break keyword
 if i == 5:
  break
 print(i)

1
2
3
4

In [11]:
def if_example(a): #if ,else,elif
 if a == 1:
  print('One')
 elif a == 2:
  print('Two')
 else:
  print('Something else')
if_example(2)
if_example(4)
if_example(1)

Two
Something else
One

In [13]:
names = ['John','Monica','Steven','Robin'] #for
for i in names:
  print('Hello '+i)

Hello John
Hello Monica
Hello Steven
Hello Robin

In [16]:
for i in 'hello': #in
 print(i)

h
e
l
l
o

In [22]:
i = 5#while
while(i):
 print(i)
 i = i-1

5
4
3
2
1